:root {
  --font-color: #000000;
  --background-color: #24F724;
  --font-color-error: #f81515;
  --title-font-size: 24px;
  --body-font-size: 16px;
}

body {
  min-width: 330px;
  min-height: 330px;
  background-color: var(--background-color);
  border: 2px solid var(--font-color);
}

.motioring-title, .error-title, .button-title {
  display: none;
}

body.status-ok {
  .motioring-title {
    display: block;
  }
}

body.status-error {
  .error-title {
    display: block;
  }
}

body.status-deady-to-use {
  .button-title {
    display: block;
  }
}

.container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .name-title, .button-title-button {
    font-size: var(--title-font-size);
    font-weight: bold;
    color: var(--font-color);
    text-align: center;
  }

  .motioring-title, .error-title, .button-title, .button-title-button {
    font-size: var(--body-font-size);
  }

  .button-title-button {
    cursor: pointer;
  }

  .error-title {
    color: var(--font-color-error);
  }

  .text {
    font-size: var(--body-font-size);
    color: var(--font-color);
    font-weight: bold;
  }

  .email {
    font-size: var(--body-font-size);
    color: var(--font-color);
    font-weight: bold;
  }
}